Flask==2.0.3
Flask-Admin==1.6.0
Flask-BabelEx==0.9.4
Flask-Cors==3.0.10
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Principal==0.4.0
flask-restplus==0.13.0
flask-restx==0.5.1
Flask-Security==3.0.0
Flask-Session==0.4.0
Flask-SocketIO==5.3.4
Flask-SQLAlchemy==2.5.1
flask-swagger-ui==4.11.1
flask-talisman==1.0.0
Flask-WTF==1.0.1
pipreqs==0.4.13
python-socketio==5.8.0
openai==0.27.8
